# 服务端口
server:
  port: 9090

#===JWT start===
#JWT存储的请求头
jwt:
  tokenHeader: Authorization
  secret: mySecret
  #JWT的超期限时间(60*60*24)
  expiration: 604800
  #JWT负载中拿到开头
  tokenHead: Bearer
#===JWT end===


#上传文件缓存目录
web.upload-path: D:/fileTemp/
spring.mvc.static-path-pattern: /**
spring.resources.static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/,file:${web.upload-path}
